  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #fff3e4; border-bottom: 0.5px solid rgb(107, 104, 104);" >
    <div class="container-fluid d-flex justify-content-between">
      <!-- Logo and brand name on the left -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/logo.png" alt="Logo" class="logo" style="height: 50px; margin-right: 10px;"> <!-- Adjust the size of the logo -->
        <div class="brand-text">
          <div class="prehed-bold" style="font-weight: bold;">SAIKRISHNA</div>
          <div class="prehed-small">Plywood & Hardware</div>
        </div>
      </a>

      <!-- Navbar toggle button for mobile view -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation links on the right -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> <!-- justify-content-end pushes the items to the right -->
        <ul class="navbar-nav" style="font-size: 1rem; font-weight: bold;">
          <li class="nav-item">
            <a class="nav-link" href="/landingpage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="productsDropdown">
              <li><a class="dropdown-item" href="/plywood">Plywood Dealership</a></li>
              <li><a class="dropdown-item" href="/stell">Steel Products</a></li>
              <li><a class="dropdown-item" href="/hardware">Hardware Solution</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light" href="/contactus">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
