/* General Styles */
.navbar {
  padding: 1rem 2rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  height: 50px;
  margin-right: 10px;
}

.brand-name {
  font-size: 3rem;
  font-weight: bold;
}

.jumbotron {
  position: relative;
}

h1, .lead {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.nav-item{
  padding-left: 4ch;
  font-family: 'Times New Roman', serif;
  font-size: 19px;
}

.s1sttab{
  margin-left: 12ch;
}
/* Tablet and Mobile Adjustments */
@media (max-width: 992px) {

  .s1sttab{
    margin-left: 2ch;
  }

  .navbar-brand .logo {
    height: 40px;
  }

  .brand-name {
    font-size: 1rem;
  }

  .navbar-nav {
    text-align: center;
  }

  .jumbotron {
    height: 70vh; /* Adjust for smaller screens */
  }

  .display-4 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand .logo {
    height: 30px;
  }

  .jumbotron {
    height: 60vh;
  }

  .display-4 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 0.9rem;
  }

  .navbar-toggler{
    display: none;
  }
}
