<div class="row" style="position: relative;">
  <div class="footer" >
    <div class="about1st " style="margin-top: 8ch;">
      <div class="row foottext">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <p>Established in 2011, Sai Krishna Traders is a leading supplier of high-quality building materials,
          including plywood, steel pipes, aluminum, and household hardware. Located in Bhadrak, Odisha,
          we are committed to providing durable and reliable products to meet all your construction needs.</p>
          <div class="social-icons">
            <a href="" style="text-decoration: none;"><i class="fa-brands fa-facebook "></i></a>
            <a href="" style="text-decoration: none;"><i class="fa-brands fa-x-twitter "></i></a>
            <a href="" style="text-decoration: none;"><i class="fa-brands fa-instagram "></i></a>
            <a href="" style="text-decoration: none;"><i class="fa-brands fa-youtube "></i></a>
          </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <h4>Quick Link</h4>
        <a href="/landingpage" style="text-decoration: none;"><p>Home</p></a>
        <a href="/aboutus" style="text-decoration: none;"><p>About</p></a>
        <a href="/privacypolicy" style="text-decoration: none;"><p>Privacy Policy</p></a>
        <a href="/returnpolicy" style="text-decoration: none;"><p>Return Policy</p></a>
        <a href="/contactus" style="text-decoration: none;"><p>Contact Us</p></a>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <h4>Product</h4>
        <a href="/plywood" style="text-decoration: none;"><p>Plywood Dealership</p></a>
        <a href="/stell" style="text-decoration: none;"><p>Steel Products</p></a>
        <a href="/hardware" style="text-decoration: none;"><p>Hardware Solutions</p></a>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <h4>Contact Us</h4>
        <p><i class="fa-solid fa-phone-volume"></i>&nbsp;&nbsp;+91 7008011757</p>
        <p><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;saikrishnapvc@gmail.com</p>
        <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Saikrishna Traders, ByPass, Bhadrak
          Odisha-756100
          Near Reliance Trends</p>
      </div>
      <hr style="color: white; margin-top: 5ch;">
      <p>Coppyright @2024 Saikrishna Traders</p>
    </div>
    </div>
  </div>
</div>
