<div>
  <div class="topimg">
    <h3>Empowering Homes<br>For Over Decade</h3>
  </div>

  <div class="about1st">
    <div class="row content"  >
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <div style="display: flex; align-items: center; color:#b67e35;">
          <hr style="width: 100px; margin-right: 10px;">
          <span style=" font-weight: 500;">About Us</span>
        </div>
        <h4><Span style="color:#614118 ;">Sai Krishna Traders:</Span> Building Excellence Since 2011</h4>
        <p >At Sai Krishna Traders, we believe that quality materials are the foundation of any successful project.
          Founded in 2011, we have grown to become a trusted name in Bhadrak, Odisha, for all things related to
          building and construction materials. Our commitment to excellence and customer satisfaction has been the
          cornerstone of our success.</p>
        <div class="row" style="color:#966423 ;">
          <div class="col-4">
            <h4>5K+</h4>
            <p>Products</p>
          </div>
          <div class="col-4">
            <h4>1000+</h4>
            <p>Happy Customers</p>
          </div>
          <div class="col-4">
            <h4>50+</h4>
            <p>Dealers</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <img src="assets/2150692407.jpg" alt="Interior Design" class=" custom-img1">
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-5" >
        <img src="assets/2151780716.jpg" alt="Interior Design" class=" custom-img1">
      </div>
    </div>

    <div class="row aim2">
      <!-- First Tab -->
      <div class="col-lg-6 col-sm-12 aim" >
        <div class="d-flex align-items-center" style="background-color: #f0ecec; padding: 20px; margin-left:0.5ch ;">
          <img src="assets/Customization.svg" alt="Icon" style="width: 40px; height: 40px; margin-right: 15px;">
          <p><span >Our Mission</span><br>To provide top-quality building materials that meet the diverse needs of our customers.
            To provide top-quality building materials that meet the diverse needs of our customers.
          </p>
        </div>
      </div>

      <!-- Second Tab -->
      <div class="col-lg-6 col-sm-12 aim" >
        <div class="d-flex align-items-center " style="background-color: #f0ecec; padding: 20px; margin-right:0.5ch ;">
          <img src="assets/Selection.svg" alt="Icon" style="width: 40px; height: 40px; margin-right: 15px;">
          <p><span>Our Vision</span><br>
            To provide top-quality building materials that meet the diverse needs of our customers.
            To provide top-quality building materials that meet the diverse needs of our customers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="conimg">
    <div class="about1st">
      <div class="row">
        <!-- First Tab -->
        <div class="col-lg-6 col-md-6 col-sm-12 aim" >
          <div class="d-flex align-items-center" style="padding: 10px;">
            <img src="assets/Frame 480962174.png" alt="image" class="whoimg">
          </div>
        </div>

        <!-- Second Tab -->
        <div class="col-lg-6 col-md-6 col-sm-12 aim3" >
          <div class="d-flex align-items-center " style="padding: 20px;">
            <p style="color: white;"><span >Who we Are</span><br>
              We are a family-owned business with deep roots in the local community. Our journey began with a simple vision: to provide top-quality building materials that meet the diverse needs of our customers.
              <br>
              Over the years, we have expanded our product range and services, continually adapting to the changing market demands while maintaining our commitment to quality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about1st">
  <div class="about-us-section">
    <div class="row">
      <!-- First Item -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="service-item d-flex align-items-center">
          <img src="assets/Selection.svg" alt="Quality Assurance" class="img-fluid custom-img">
          <div class="service-text ms-3">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Selection</div>
            <div class="prehed-small">Choose from our wide array of quality products .</div>
          </div>
        </div>
      </div>
      <!-- Second Item -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="service-item d-flex align-items-center">
          <img src="assets/Customization.svg" alt="Cost-effective Option" class="img-fluid custom-img">
          <div class="service-text ms-3">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Customization</div>
            <div class="prehed-small">Tailor the products to meet your unique requirements .</div>
          </div>
        </div>
      </div>
      <!-- Third Item -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="service-item d-flex align-items-center">
          <img src="assets/Delivery.svg" alt="Custom solution" class="img-fluid custom-img">
          <div class="service-text ms-3">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Delivery</div>
            <div class="prehed-small">Prompt delivery of your chosen items to your location .</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class ="about-contact">
    <div>
      <h4>We Are Your Trusted Partner</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <button class="btn" (click)="contact()" >Contact Us</button>
    </div>
  </div>
</div>
