<div class="container-fluid p-0" style="background-color: #fff3e4;">

  <!-- Banner Section -->
  <div class="row" style="position: relative;">
    <div class="col-lg-4 col-md-5 hide-on-mobile"  style="background: url('assets/21337763_6464280.jpg') no-repeat center center/cover; height: 100vh;"></div>

    <div class="col-lg-8 col-md-7 col-sm-12 image-slideshow" style="height: 100vh; overflow: hidden;">
      <!-- Background overlay -->
      <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 98%; background-color: rgba(150, 145, 145, 0.3); backdrop-filter: blur(1px);"></div>
      <!-- Slideshow images -->
      <div class="slideshow-image" style="background-image: url('assets/Frame 4809621733.png');"></div>
      <div class="slideshow-image" style="background-image: url('assets/Frame 4809621733.png');"></div>
      <div class="slideshow-image" style="background-image: url('assets/2150710647.jpg');"></div>
      <div class="slideshow-image" style="background-image: url('assets/2150692183.jpg');"></div>
      <div class="slideshow-image" style="background-image: url('assets/2150695953 1.png');"></div>
      <div class="slideshow-image" style="background-image: url('assets/young-couple-choosing-tiles-building-market.jpg');"></div>
      <div class="slideshow-image" style="background-image: url('assets/2151264420.jpg');"></div>
    </div>
    <div class="textonimg" >
      <P style="font-family: 'Times New Roman', serif; color: white; font-size: 55px; margin-left: 4ch;">One Stop-Shop </P>
      <P style="font-family: 'Times New Roman', serif; margin-top: -1ch;margin-left: 4ch; color: white; font-size: 55px;">Strength in Every Detail</P>
      <div class="container row s1sttab" >
        <div class="col-lg-4 col-md-6 col-sm-12" style="font-size: 20px; margin-top: -1ch; text-align: justify; font-weight: 400;">
          <p style="color: white;   margin-right: 4ch;">Quality products for your construction needs .</p>
        </div>
        <div class="col-5"></div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="stat-banner">
            <div class="row">
              <div class="col-5">
                <h3>500+</h3>
                <p>Products</p>
              </div>
              <div class="col-7">
                <h3>1000+</h3>
                <p>Satisfied Customer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us-section" style="margin-top: 6ch;">
    <div class="row about1st">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="service-item d-flex ">
          <img src="assets/Quality.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Quality Assurance</div>
            <div class="prehed-small">Crafted from top materials</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="service-item d-flex ">
          <img src="assets/Cost.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Cost-effective Option</div>
            <div class="prehed-small">Budget-friendly alternatives</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="service-item d-flex ">
          <img src="assets/Custom.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Custom solution</div>
            <div class="prehed-small">Tailored recommendations</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="service-item d-flex ">
          <img src="assets/Expertise.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text" style="margin-left: 1ch;">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Product Expertise</div>
            <div class="prehed-small">Guide on selecting materials</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center " style="margin-top:10ch;" id="about">
    <div class="col-12">
      <p class="section-1sttitle">ABOUT US</p>
      <h2 class="section-title">We help to bring your Dream home to Reality</h2>
      <p class="section-description" >Sai Krishna Traders is a premier supplier of plywood, steel products, and household hardware renowned for quality and service.</p>
    </div>
  </div>


  <div class=" mt-5">
    <div class="row">
      <div class="col-md-2 col-12 mb-3">
        <img src="assets/2150692407.jpg" alt="Interior Design" class=" custom-img">
      </div>
      <div class="col-md-4 col-12 mb-3">
        <img src="assets/modern-minimalist-office.jpg" alt="Interior Design" class=" custom-img">
      </div>
      <div class="col-md-2 col-12 mb-3">
        <img src="assets/2151780716.jpg" alt="Interior Design" class=" custom-img">
      </div>
      <div class="col-md-4 col-12 mb-3">
        <img src="assets/2150710647.jpg" alt="Interior Design" class=" custom-img">
      </div>
    </div>
  </div>



  <div class="products-section " style="margin-top:15ch;" id="product">
    <div class="row " style="margin-left: 9ch; margin-right: 9ch;">
      <div class="col-md-4">
        <div class="product-card" style="background-color: rgb(238, 229, 221); background-image:url('assets/Ply.png') ; background-repeat: no-repeat; background-size: auto 100%; background-position: right;">
          <h4>Plywood Dealership</h4>
          <a href="/plywood" class="btn btn-outline-light" style="font-weight: bold;">View all <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card" style="background-color: rgb(250, 231, 208);background-image:url('assets/Steel.png') ; background-repeat: no-repeat; background-size: auto 100%; background-position: right;">
          <h4>Steel Products</h4>
          <a href="/stell" class="btn btn-outline-light" style="font-weight: bold;">View all <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card" style="background-color: rgb(250, 233, 217);background-image:url('assets/Hardware.png') ;background-repeat: no-repeat; background-size: auto 100%; background-position: right;">
          <h4>Hardware Solutions</h4>
          <a href="/hardware" class="btn btn-outline-light" style="font-weight: bold;">View all <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center "  style="margin-top:5ch;">
    <div class="col-12">
      <p class="section-1sttitle">OUR PRODUCTS</p>
      <h2 class="section-title">Find What You Need</h2>
      <p class="section-description">Browse our wide range of plywood, steel, and hardware items</p>
    </div>
  </div>



  <div class="about1st mt-5">
    <div class="row">
      <div class="col-md-3 col-12 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/2149445343.jpg" alt="Interior Design" class=" custom-prdimg">
          <a href="/contactus" style="text-decoration: none;"><div class="overlay-text">Door <i class="bi bi-arrow-right"></i></div></a>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/2150692407.jpg" alt="Interior Design" class=" custom-prdimg">
          <a href="/contactus" style="text-decoration: none;"><div class="overlay-text">Veneer <i class="bi bi-arrow-right"></i></div></a>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/hardware.jfif" alt="Interior Design" class=" custom-prdimg">
          <a href="/contactus" style="text-decoration: none;"><div class="overlay-text">Lock Handels <i class="bi bi-arrow-right"></i></div></a>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/Frame 48096216.png" alt="Interior Design" class=" custom-prdimg">
          <a href="/contactus" style="text-decoration: none;"><div class="overlay-text">Railings <i class="bi bi-arrow-right"></i></div></a>
        </div>
      </div>
    </div>
  </div>

  <div class="about1st mt-5">
    <div class="row">
      <h2 class="section-title">Our Listing Process</h2>
      <p style="margin-top: -1ch;">A seamless journey from selection to delivery</p>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1"><hr style="color: red;"></div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="stat-banner1">
          <div class="row">
            <div class="col-10"><h3>Selection </h3></div>
            <div class="col-2"><span style="text-align: right; font-size: 20px;"><i class="fa-solid fa-circle-check"></i></span></div>
            <p style="font-size: 15px; margin-top: -1ch;">Choose from our wide array of quality products .</p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 stat-banner1-ion"><i class="bi bi-arrow-right"></i></div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="stat-banner1">
          <div class="row">
            <div class="col-10"><h3>Customization </h3></div>
            <div class="col-2"><span style="text-align: right;  font-size: 20px;"><i class="fa-solid fa-layer-group"></i></span></div>
            <p style="font-size: 15px; margin-top: -1ch;">Tailor the products to meet your unique requirements .</p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 stat-banner1-ion"><i class="bi bi-arrow-right"></i></div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="stat-banner1">
          <div class="row">
            <div class="col-10"><h3>Delivery </h3></div>
            <div class="col-2"><span style="text-align: right; font-size: 20px;"><i class="fa-solid fa-truck"></i></span></div>
            <p style="font-size: 15px; margin-top: -1ch;">Prompt delivery of your chosen items to your location .</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="scrolling-container">
    <span class="static-text">
      Dealers In
    </span>
    <div class="scrolling-text">
      <div class="marquee-content">
        <img src="assets/century.png" alt="Image 1" class="marquee-img">
        <img src="assets/favi.png" alt="Image 2" class="marquee-img">
        <img src="assets/merino.png" alt="Image 3" class="marquee-img">
        <img src="assets/usg.png" alt="Image 4" class="marquee-img">
        <img src="assets/hettich.png" alt="Image 4" style="width: 80px;margin-right: 20px;">
        <img src="assets/jsl.png" alt="Image 4" class="marquee-img">
        <img src="assets/godrej.png" alt="Image 4" class="marquee-img">
        <img src="assets/sylvan.png" alt="Image 4" class="marquee-img">
        <!-- Add more images as needed -->
      </div>
    </div>
  </div>

  <div class="row" style="position: relative;">
    <div class="testmonal" >
      <div class="row testmonal-row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="row " id="product" style="margin-top:5ch;">
            <div class="col-12">
              <p class="section-1sttitle">TESTIMONIALS</p>
              <p class="section-title" style="font-size:2rem;">Here’s what our customers say about us</p>
              <p class="static-testimonial" style="font-size: 1rem; color: #666; margin-top: 2ch;">"Our experience has been exceptional! The quality of the
                products and the attention to detail are unmatched. From start to finish, the team provided
                outstanding customer service, making the entire process smooth and stress-free."</p>
              <p class="static-testimonial" style="font-size: 1rem; color: #666; margin-top: 1ch;">"Fantastic service and high-quality products.
                We couldn’t be happier with how everything turned out. Highly recommend them for anyone seeking reliable and excellent workmanship!"</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="testimon-card" *ngIf="testimonials.length > 0">
            <h4 style="font-size:2rem; color:rgb(248, 229, 58);">
              <i *ngFor="let star of [].constructor(testimonials[currentTestimonialIndex].rating)" class="fa-solid fa-star"></i>
            </h4>
            <p style="text-align: justify; margin-top: 2ch;">
              {{ testimonials[currentTestimonialIndex].text }}
            </p>
            <span style="font-size: 1.5rem; font-family:bold; margin-top:2ch;">{{ testimonials[currentTestimonialIndex].author }}</span>
              <span style="font-size: 4rem; text-align: right; display: inline-block; width: 100%; color: rgb(173, 105, 21);"><i class="fa-solid fa-quote-right"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


