<div class="container-fluid p-0" style="background-color: #fff3e4;">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #fff3e4; border-bottom: 0.5px solid rgb(107, 104, 104);" >
    <div class="container-fluid d-flex justify-content-between">
      <!-- Logo and brand name on the left -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/logo.png" alt="Logo" class="logo" style="height: 50px; margin-right: 10px;"> <!-- Adjust the size of the logo -->
        <div class="brand-text">
          <div class="prehed-bold" style="font-weight: bold;">SAIKRISHNA</div>
          <div class="prehed-small">Plywood & Hardware</div>
        </div>
      </a>

      <!-- Navbar toggle button for mobile view -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation links on the right -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> <!-- justify-content-end pushes the items to the right -->
        <ul class="navbar-nav" style="font-size: 1rem; font-weight: bold;">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Banner Section -->
  <div class="row" style="position: relative;">
    <div class="col-4" style="background: url('assets/21337763_6464280.jpg') no-repeat center center/cover; height: 100vh;"></div>
    <div class="col-8" style="background: url('assets/2150710647.jpg') no-repeat center center/cover; height: 100vh; background-size: cover; overflow: hidden;">
      <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(1px);">
      </div>
    </div>
    <div class="textonimg" >
      <P style="font-family: 'Times New Roman', serif; color: white; font-size: 55px; margin-left: 4ch;">One Stop-Shop </P>
      <P style="font-family: 'Times New Roman', serif; margin-top: -1ch;margin-left: 4ch; color: white; font-size: 55px;">For Plywood & Hardware</P>
      <div class="container row" style="margin-left: 12ch;">
        <div class="col-4" style="font-size: 20px; margin-top: -1ch; text-align: justify; font-weight: 400;">
          <p style="color: white;   margin-right: 4ch;">Lorem ipsum dolor sit amet consectetur adipisicing elit.ndis natus modi! Illumctetur adipisicing elit.ndis natus modi! Illum!</p>
        </div>
        <div class="col-5"></div>
        <div class="col-3">
          <div class="stat-banner">
            <div class="row">
              <div class="col-5">
                <h3>500+</h3>
                <p>Products</p>
              </div>
              <div class="col-7">
                <h3>1000+</h3>
                <p>Satisfied Customer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="jumbotron jumbotron-fluid d-flex align-items-center" style="background: url('assets/banner-image.png') no-repeat center center/cover; height: 100vh;">
    <div class="container text-white text-center text-lg-left">
      <h1 class="display-4">One-Stop Shop for Plywood & Hardware</h1>
      <p class="lead">Find the finest plywood and a wide range of hardware for every construction need. Quality you can trust, service you'll love.</p>
      <a href="#" class="btn btn-light btn-lg">Explore Products</a>
    </div>
  </div> -->

  <div class="about-us-section" style="margin-top: 6ch;">
    <div class="row about1st">
      <div class="col-md-3">
        <div class="service-item d-flex ">
          <img src="assets/Quality.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Quality Assurance</div>
            <div class="prehed-small">Crafted from top materials</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-item d-flex ">
          <img src="assets/Cost.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Cost-effective Option</div>
            <div class="prehed-small">Budget-friendly alternatives</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-item d-flex ">
          <img src="assets/Custom.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Custom solution</div>
            <div class="prehed-small">Tailored recommendations</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-item d-flex ">
          <img src="assets/Expertise.svg" alt="Interior Design" class="img-fluid">
          <div class="service-text" style="margin-left: 1ch;">
            <div class="prehed-bold" style="font-weight: bold; font-family: 'Times New Roman', serif;">Product Expertise</div>
            <div class="prehed-small">Guide on selecting materials</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center " style="margin-top:10ch;" id="about">
    <div class="col-12">
      <p class="section-1sttitle">ABOUT US</p>
      <h2 class="section-title">We help to bring your Dream home to Reality</h2>
      <p class="section-description" style="margin-left:25ch; margin-right:25ch;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam. Erat id laoreet posuere etiam morbi.</p>
    </div>
  </div>


  <div class=" mt-5">
    <div class="row">
      <div class="col-md-2 col-12 mb-3">
        <img src="assets/2150692407.jpg" alt="Interior Design" class=" custom-img">
      </div>
      <div class="col-md-4 col-12 mb-3">
        <img src="assets/modern-minimalist-office.jpg" alt="Interior Design" class=" custom-img">
      </div>
      <div class="col-md-2 col-12 mb-3">
        <img src="assets/2151780716.jpg" alt="Interior Design" class=" custom-img">
      </div>
      <div class="col-md-4 col-12 mb-3">
        <img src="assets/2150710647.jpg" alt="Interior Design" class=" custom-img">
      </div>
    </div>
  </div>



  <div class="products-section " style="margin-top:15ch;">
    <div class="row " style="margin-left: 9ch; margin-right: 9ch;">
      <div class="col-md-4">
        <div class="product-card" style="background-color: rgb(238, 229, 221); background-image:url('assets/Ply.png') ; background-repeat: no-repeat; background-size: auto 100%; background-position: right;">
          <h4>Plywood Dealership</h4>
          <a href="#" class="btn btn-outline-light" style="font-weight: bold;">View all <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card" style="background-color: rgb(250, 231, 208);background-image:url('assets/Steel.png') ; background-repeat: no-repeat; background-size: auto 100%; background-position: right;">
          <h4>Steel Products</h4>
          <a href="#" class="btn btn-outline-light" style="font-weight: bold;">View all <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card" style="background-color: rgb(250, 233, 217);background-image:url('assets/Hardware.png') ;background-repeat: no-repeat; background-size: auto 100%; background-position: right;">
          <h4>Hardware Solutions</h4>
          <a href="#" class="btn btn-outline-light" style="font-weight: bold;">View all <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center " id="product" style="margin-top:5ch;">
    <div class="col-12">
      <p class="section-1sttitle">OUR PRODUCTS</p>
      <h2 class="section-title">Find What You Need</h2>
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam. Erat id laoreet posuere etiam morbi.</p>
    </div>
  </div>



  <div class="about1st mt-5">
    <div class="row">
      <div class="col-md-3 col-6 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/2149445343.jpg" alt="Interior Design" class=" custom-prdimg">
          <div class="overlay-text">Door <i class="bi bi-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/2150692407.jpg" alt="Interior Design" class=" custom-prdimg">
          <div class="overlay-text">Veneer <i class="bi bi-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/hardware.jfif" alt="Interior Design" class=" custom-prdimg">
          <div class="overlay-text">Lock Handels <i class="bi bi-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-3">
        <div class="custom-prdimg-container">
          <div class="image-overlay"></div>
          <img src="assets/Frame 48096216.png" alt="Interior Design" class=" custom-prdimg">
          <div class="overlay-text">Railings <i class="bi bi-arrow-right"></i></div>
        </div>
      </div>
    </div>
  </div>


  <div class="scrolling-container container">
    <span class="static-text">
      Dealers In
    </span>
    <div class="scrolling-text">
      <div class="marquee-content">
        <img src="assets/century.png" alt="Image 1" class="marquee-img">
        <img src="assets/favi.png" alt="Image 2" class="marquee-img">
        <img src="assets/merino.png" alt="Image 3" class="marquee-img">
        <img src="assets/usg.png" alt="Image 4" class="marquee-img">
        <img src="assets/hettich.png" alt="Image 4" style="width: 160px;height: 40;margin-right: 20px;">
        <img src="assets/jsl.png" alt="Image 4" class="marquee-img">
        <img src="assets/godrej.png" alt="Image 4" class="marquee-img">
        <img src="assets/sylvan.png" alt="Image 4" class="marquee-img">
        <!-- Add more images as needed -->
      </div>
    </div>
  </div>

  <div class="row" style="position: relative;">
    <div class="testmonal" >
      <div class="row" style="margin-left: 12ch; margin-right: 6ch;">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="row " id="product" style="margin-top:5ch;">
            <div class="col-12">
              <p class="section-1sttitle">TESTIMONIALS</p>
              <p class="section-title" style="font-size:2rem;">Here’s what our customers say about us</p>
              <p style="font-size: 1rem; color: #666; margin-top: 2ch;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla </p>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="testimon-card" *ngIf="testimonials.length > 0">
            <h4 style="font-size:2rem; color:rgb(248, 229, 58);">
              <i *ngFor="let star of [].constructor(testimonials[currentTestimonialIndex].rating)" class="fa-solid fa-star"></i>
            </h4>
            <p style="text-align: justify; margin-top: 2ch;">
              {{ testimonials[currentTestimonialIndex].text }}
            </p>
            <span style="font-size: 1.5rem; font-family:bold; margin-top:2ch;">{{ testimonials[currentTestimonialIndex].author }}</span>
              <span style="font-size: 4rem; text-align: right; display: inline-block; width: 100%; color: rgb(173, 105, 21);"><i class="fa-solid fa-quote-right"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="position: relative;">
    <div class="footer" >
      <div class="container " style="margin-top: 8ch;">
        <div class="row foottext">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <p>Sai Krishna, established in 2011, specializes in high-quality plywood solutions.
            With over a decade of experience, they are known for delivering durable and reliable
            plywood products, catering to various construction and interior design needs with excellence
            and customer satisfaction.</p>
            <div class="social-icons">
              <i class="fa-brands fa-facebook "></i>
              <i class="fa-brands fa-x-twitter "></i>
              <i class="fa-brands fa-instagram "></i>
              <i class="fa-brands fa-youtube "></i>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <h4>Quick Link</h4>
          <p>lorem</p>
          <p>lorem</p>
          <p>lorem</p>
          <p>lorem</p>
          <p>lorem</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <h4>Product</h4>
          <p>lorem</p>
          <p>lorem</p>
          <p>lorem</p>
          <p>lorem</p>
          <p>lorem</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <h4>Contact Us</h4>
          <p><i class="fa-solid fa-phone-volume"></i></p>
          <p><i class="fa-solid fa-envelope"></i></p>
          <p><i class="fa-solid fa-location-dot"></i></p>
        </div>
        <hr style="color: white; margin-top: 5ch;">
        <p>Coppyright @2024 Saikrishna Traders</p>
      </div>
      </div>
    </div>
  </div>

</div>


