.s1sttab{
  margin-left: 12ch;
}

/* Tablet and Mobile Adjustments */
@media (max-width: 992px) {

  .s1sttab{
    margin-left: 2ch;
  }
}
/* About Us Section Styling */
.about-us-section {
  /* background-color: #f9f4ec; */
  color: #333;
}

.service-icon {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.section-description {
  font-size: 1.1rem;
  color: #666;
  margin-left: 15ch;
  margin-right: 16ch;
}

h4 {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  color: #777;
  margin-top: 0.5rem;
}

.img-fluid {
  border-radius: 0.5rem;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 768px) {

  .testmonal-row {
    margin-left: 1ch;
    margin-right: 1ch;
  }

  .section-description {
    font-size: 1rem;
    color: #666;
    margin-left: 3ch;
    margin-right: 3ch;
  }

  .img-fluid {
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 5ch;
  }

  .about-us-section {
    padding: 1rem;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .service-icon {
    margin-right: 0;
    margin-bottom: 0.25rem; /* Adjust margin for mobile view */
  }

  h4 {
    font-size: 1.1rem;
  }

  .section-title {
    font-size: 2rem;
  }


}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

.section-1sttitle {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(110, 101, 45, 0.925);
  letter-spacing: 7px
}

/* Product Section Styling */
.products-section {
  /* background-color: #f9f4ec; */
  color: #666;
}

.product-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  margin-bottom: 1.5rem;
}

.product-card img {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-card h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.product-card a {
  text-decoration: none;
  font-size: 1rem;
  color: #666;
}

.product-card a i {
  margin-left: 0.5rem;
}

/* Adjustments for Responsiveness */
@media (max-width: 768px) {
  .product-card {
    padding: 1rem;
  }

  .product-card h4 {
    font-size: 1.2rem;
  }
}

/* Service Item Styling */
.service-item {
  padding: 0.5rem;
}

.about1st{
  margin-left: 12ch;
  margin-right: 12ch;
}
.dealers{
  margin-left: 12ch;
  margin-right: 12ch;
}

.service-text{
  margin-left: 1ch;
}

.service-text h4 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.prehed-small{
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(141, 143, 143);
}

.service-text p {
  margin: 1ch;
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .about1st{
    margin-left: 3ch;
    margin-right: 3ch;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .service-icon {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}




.custom-img {
  height: 33ch;
  width: 100%; /* Full width within its column */
  object-fit: cover; /* Keeps the image proportionate */
}

/* For mobile, adjust sizes */
@media (max-width: 767.98px) {
  .custom-img {
    height: auto; /* Let height adjust automatically on small screens */
    width: 100%;  /* Make sure it takes full width on small screens */
  }
}

.textonimg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  margin-top: 10ch;
}

/* Individual Stat Banner */
.stat-banner {
  width: 320px;
  height: 100px;
  background: rgba(189, 186, 186, 0.634); /* Semi-transparent white background */
  border: 1px solid rgba(148, 144, 144, 0.3); /* Light border */
  border-radius: 10px;
  /* text-align: center; */
  padding: 25px;
  margin: 10px;
  display: flex;
  flex: 1 1 150px;
  flex-direction: column;
  justify-content: center;
  color: white; /* Text color set to white */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Light white shadow for depth */
  transition: transform 0.3s ease-in-out;
}

.stat-banner:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  background: rgba(211, 205, 205, 0.534);
}

.stat-banner p{
  color: white;
  margin-top: -1ch;
}

.stat-banner1{
  /* height: 100px; */
  background: rgba(240, 196, 171, 0.634); /* Semi-transparent white background */
  border: 1px solid rgba(148, 144, 144, 0.3); /* Light border */
  border-radius: 10px;
  /* text-align: center; */
  padding: 15px;
  display: flex;
  flex: 1 1 150px;
  flex-direction: column;
  color: rgb(85, 77, 77); /* Text color set to white */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Light white shadow for depth */
  transition: transform 0.3s ease-in-out;
}

.stat-banner1:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  background: rgba(241, 173, 134, 0.634);
}

.stat-banner1-ion{
  justify-content: center;
   font-size: 40px;
   margin-top: 19px;
   text-align: center;
   color: rgba(110, 101, 45, 0.925);
}

 /* Style for the image container */
 .custom-prdimg-container {
  position: relative;
  overflow: hidden;
}

/* Initially hide the gradient overlay */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(36, 33, 33, 0.8), rgba(189, 186, 186, 0)); /* Gradient background */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.5s ease;
  z-index: 1; /* Ensure it covers the image */
}

/* On hover, display the gradient overlay */
.custom-prdimg-container:hover .image-overlay {
  opacity: 1; /* Show the overlay on hover */
}

/* Style for the images */
.custom-prdimg {
  width: 100%;
  height: 40ch;
  transition: transform 0.5s ease;
  z-index: 0;
}

/* Zoom effect on hover */
.custom-prdimg-container:hover .custom-prdimg {
  transform: scale(1.1);
}

/* Text overlay */
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  font-size: 32px;
  text-align: left;
  transition: transform 0.5s ease, font-size 0.5s ease;
  transform: translateY(0); /* Default position */
  z-index: 2;
}

/* Hover effect for text */
.custom-prdimg-container:hover .overlay-text {
  transform: translateY(-25px); /* Slide up effect */
  font-size: 45px; /* Increase font size on hover */
  /* margin-bottom: 2ch; */
}

.testmonal {
  background: url('src/assets/services-right-dec.png') no-repeat center center/cover;
   width: 98vw; /* Full viewport width */
   height: 55ch; /* Full viewport height */
   background-size: cover; /* Ensures the image covers the entire container */
   overflow: hidden; /* Ensures no scroll bars appear */
}
.testmonal-row {
  margin-left: 12ch;
  margin-right: 6ch;
}

.marquee-content {
  display: flex;
  align-items: center;
  animation: marquee 7s linear infinite;
}

.marquee-img {
  width: 130px; /* Reduced size of images */
  height: 60;
  margin-right: 20px; /* Spacing between images */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Mobile adjustment */
@media only screen and (max-width: 768px) {
  .static-text {
    font-size: 18px;
    margin-right: 10px;
  }
  .marquee-img {
    width: 60px;
    margin-right: 10px;
  }
  .scrolling-container {
    flex-direction: column;
    align-items: flex-start;
  }
}


/* schrolling */
.scrolling-container {
  display: flex;
  align-items: center;
  width: 100%; /* Full width of the container */
  border: 0,5px solid #ddd; /* Optional: Add a border */
  border-radius: 0.5rem;
  overflow: hidden; /* Hide the overflowed content */
  box-sizing: border-box;
  padding: 10px; /* Optional: Padding inside the container */
  margin-top: 10ch;
  margin-bottom: 5ch;
}

/* Add margin to the left side only on larger screens */
@media (min-width: 992px) {
  .scrolling-container {
      margin-left: 12ch; /* Adjust this value as per your needs */
      width: 88%;
  }
}

.static-text {
  font-weight: bold; /* Make the text bold */
  color: rgb(128, 126, 126);
  white-space: nowrap;
  margin-right: 80px; /* Space between static and scrolling text */
  font-size: 40px;
}

.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  flex: 1; /* Make scrolling text take up remaining space */
  border-radius: 0.5rem;
}

.testimon-card {
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  /* margin-bottom: 1.5rem; */
  background-color: white;
   height: 45ch;
   margin-top: 5ch;
   margin-bottom: 5ch;
   transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/* testimonials.component.css */
.testimon-card.ng-leave,
.testimon-card.ng-enter {
  opacity: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .section-1sttitle {
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .static-testimonial {
    font-size: 0.875rem;
  }

  .testimon-card h4 {
    font-size: 1.5rem;
  }

  .testimon-card p {
    font-size: 0.875rem;
  }

  .testimon-card span {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .testimon-card {
    padding: 1rem;
  }

  .section-1sttitle {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1rem;
  }

  .static-testimonial {
    font-size: 0.75rem;
  }

  .testimon-card h4 {
    font-size: 1.25rem;
  }

  .testimon-card p {
    font-size: 0.75rem;
  }

  .testimon-card span {
    font-size: 0.75rem;
  }
}

.image-slideshow {
  position: relative;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeEffect 33s infinite;
}

.slideshow-image:nth-child(2) {
  animation-delay: 3s;
}

.slideshow-image:nth-child(3) {
  animation-delay: 8s;
}

.slideshow-image:nth-child(4) {
  animation-delay: 13s;
}

.slideshow-image:nth-child(5) {
  animation-delay: 18s;
}

.slideshow-image:nth-child(6) {
  animation-delay: 23s;
}

.slideshow-image:nth-child(7) {
  animation-delay: 28s;
}
.slideshow-image:nth-child(8) {
  animation-delay: 33s;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



